@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@200&display=swap');

*{
	margin:0; padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
}

.home{
	background: url("images/shoe-background.jpg") center/cover no-repeat;
	width: 100%;
	height:100vh;
	min-height: 650px;
	position: relative;
	font-family: 'Poppins', sans-serif;
	color: white;
}


/*start header style*/

.home header {
	width: 80vw;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	letter-spacing: 1.5px;
	position: absolute;
	left: 10%;
	z-index: 1000;
}

.fixed {
	position: fixed !important;
	background: rgba(0,0,0,.8);
	height: 50px;
	padding-top: 0px !important;
	width: 100% !important;
	left: 0 !important;
	justify-content: space-around !important;
}

.brand {
	/*border: 1px solid;*/
	text-align: center;
	height: 40px;
	cursor: default;
}

.brand h3 {
	line-height: 2;
}

.home header ul {
	display: flex;
	font-weight: bold;
}

header ul li {
	line-height: 1;
	padding: 20px;
	cursor: pointer;
}

li:after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    /*display: hidden;*/
	display: block;
    transition: .3s;
}

li:hover:after {
	width: 100%;
}

/*end header style */


/* start product style */

.home .product {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
}

.home .product .details{
	width: 40vw;
	height: 400px;
	/*border: 1px solid;*/
	letter-spacing: 5px;
	margin-top: 50px;
}

.details h3 {
	font-size: 48px;
	font-family: 'Bangers', cursive;
}

.details h1 {
	font-size: 64px;
	font-family: 'Bangers', cursive;
}

.details p {
	font-size: 20px;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
}

.details button {
	border: none;
	outline: none;
	width: 200px;
	height: 50px;
	background: #fff;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	margin-top: 30px;
	border-radius: 6px;
	transition: .3s;
	cursor: pointer;
}

button a {
	color:#53A3EC;
	transition: .3s;
}

.details button:hover {
	background:#53A3EC;
	box-shadow: 0px 0px 16px 1px rgba(47,128,204,1); 
}

.details button:hover a{
	color:#fff;
}

.home .product .product-img {
	/*background: blue;*/
	width: 40vw;
	height: 400px;
	position: relative;
}

.product-img img {
	width:100%; height: 100%;
	object-fit: cover;
}

/* end product style */

/* start our products */

.our-products {
	width: 100%;
	height:150vh;
	min-height: 650px;
	font-family: 'Poppins', sans-serif;
	background: url("images/noise.png");
}

.our-products h1{
	text-align: center;
	color: #333;
	padding-top: 150px;
	padding-bottom: 50px;
	font-size: 64px;
	font-weight:lighter;
}

.our-products .products {
	width: 100%;
	text-align: center;
	position: relative;
}


.our-products .products > div {
	margin: 20px;
	background: #F6F6F6 url("images/noise.png");
	display: inline-block;
	width: 300px; height: auto;
	padding-bottom: 10px;
	position: relative;
	transition: .3s;
	top:0;
	border-radius: 5px;
}

.our-products .products > div:hover {
	box-shadow: 0 0 15px 10px #d6d6d6;
	top: -20px;
}

.products .product img {
	width: 100%; height: 170px;
	object-fit: cover;
	margin-bottom: 60px;
	transition: .3s;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.product .title {
	margin-bottom: 50px;
	font-size: 24px;
	color: #666;
    font-family: monospace;
    font-weight: lighter;
}

.product .price {
	font-size: 18px;	
}

.product .price > div {
	display: inline-block;
	margin: 20px;
}
.product .price .old {
	text-decoration-line: line-through;
}

.product .icon {
	font-size: 18px;
    width: 70%;
    background: #53a3ec;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    padding: 5px;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.product .icon:hover {
    box-shadow: 0px 0px 10px 1px #53a3ec;
}

.icon span {
	margin-left: 20px;
}

/* end our products */


/*start about page*/

.about {
	width:100%; height:1700px;
	background: url("images/about1.jpg") center/cover no-repeat;
	color: #fff;
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.about .box1 {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 50%;
	background: url("images/about1.jpg") center/cover no-repeat;
	transform: rotate(180deg);
	z-index: 1;
}

.about .box2 {
	position: absolute;
	top: 50%; left: 0;
	width: 100%; height: 50%;
	background: url("images/about2.jpg") center/cover no-repeat;
	transform: rotate(180deg);
	z-index: 1;
}

.about .layer {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgb(0,0,0, .8);
	z-index: 2;
}

.about .header {
	position: absolute;
	top: 3%;
	left: 0;
	width: 100%;
	z-index: 3;
	padding: 50px;
}

.about .header h1 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 64px;
	letter-spacing: 1px;
	font-weight: lighter;
	color: #fff;
}

.about .info-container {
	width: 100%;
	position: absolute;
	bottom: 0; left: 0;
	z-index: 4;
}

.about .info-container:before{
	content: "";
	position: absolute;
	width: 5px;
	height: 95%;
	left: 25%;
	background: #fff;
}

.about .info {
	margin-top: 50px;
	position: relative;
	height: 300px;
}

.about .info h2 {
	position: absolute;
	left: 5%;
	font-size: 36px;
	font-family: 'Poppins', sans-serif;
	font-weight:lighter;
}

.about .info p {
	position: absolute;
	left: 25%;
	top: 15%;
	font-size: 24px;
	padding-left: 60px;
}

.about .info p:before {
	content: "";
	position: absolute;
	top: 20%;
	left: 0;
	width: 20px;
  	border: medium solid #fff;
  	border-width: 15px 0 15px 15px;
	border-color: transparent transparent transparent white;
}

.about .info p:after {
	content: "";
	position: absolute;
	top: -22%;
	left: -30px;
	width: 20px;
  	border: medium solid #fff;
  	border-width: 15px 15px 15px 0;
	border-color: transparent white transparent transparent;
}

/*end about page*/

/* start contact form*/

.contact{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #00A6E2;
	padding: 100px;
}

.contact-container {
	width: 40vw;
	height: auto;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

.contact h1 {
	padding: 20px;
	text-align: center;
	font-size: 48px;
	font-family: 'Poppins', sans-serif;
	color: #333;
}

.contact form{
	/*border: 1px solid;*/
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact input{
	display: block;
	margin:0 auto;
	width: 300px;
	margin: 15px;
	height: 30px;
	border: 1px solid #666;
	padding: 10px;
	font-size: 16px;
	border-radius: 3px;
	outline: none;
}

.contact textarea{
	display: block;
	margin:0 auto;
	width: 300px;
	font-size: 16px;
	padding: 10px;
	border-radius: 3px;
	outline: none;
}

.contact button {
	border: none;
	outline: none;
	width: 200px;
	height: 50px;
	background: #00A6E2;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	margin-top: 30px;
	border-radius: 6px;
	transition: .3s;
	cursor: pointer;
	color: #fff;
}

.contact button:hover {
	background: #0085B2;
}

/* end contact form*/

footer {
	background: #333;
	color: #d6d6d6;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

footer > * {
	margin: 5px;
}

footer a {
	text-decoration-line: underline;
}

/* up icon */

.up {
	text-decoration: none;
	position: absolute;
	bottom: 5%;
	right: 2%;
	width: 50px; height: 50px;
	background: #000;
	color: #fff;
	position: fixed;
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
	opacity: .3;
	cursor: pointer;
}

.visible {
	display: flex !important;
}

.up:hover {
	opacity: 1;
}